.wrapper {
    //Dat bien
    --header-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    --input-max-width: 500px;
    --input-height: 46px;
    --input-border-radius: 92px;
    --search-background-color: rgba(22, 24, 35, 0.06);
    --search-btn-hover: rgba(22, 24, 35, 0.06);

    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: var(--header-shadow);
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
}

.inner {
    height: 100%;
    width: 100%;
    padding: 0px 24px 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo,
.search,
.action {
    flex: 1;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    max-width: var(--input-max-width);
    width: 100%;
    height: var(--input-height);
    border-radius: var(--input-border-radius);
    background-color: var(--search-background-color);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    border: 1px solid transparent;

    input {
        flex: 1;
        font-size: 16px;
        color: rgb(22, 24, 35);
        appearance: textfield;
        margin: 5px 0;
        caret-color: rgb(254, 44, 85);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        cursor: pointer;
        svg {
            color: var(--svg-color_2);
        }
    }
}

.clear-input svg,
.loading svg {
    font-size: 14px;
    margin: 0 12px;
    color: var(--svg-color);
}

.clear-input {
    // display: none;
}

.loading {
    display: none;
}

.search-btn {
    padding: 11px 18.5px 11px 14.5px;
    display: flex;
    height: 100%;
    align-items: center;
    cursor: no-drop;
    svg {
        font-size: 19px;
        color: var(--svg-color);
    }

    &:hover {
        background: var(--search-btn-hover);
    }
}

span.line {
    width: 1px;
    height: 28px;
    margin: auto 0;
    background-color: rgba(22, 24, 35, 0.12);
}
