.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    min-height: 1000px;
    margin-top: var(--header-height);
}

.content {
    flex: 1;
    margin-left: var(--sliderbar-max-width);
}
