.menu-list {
    width: 224px;
    margin-top: -5px;
    margin-right: -15px;
    max-height: min((100vh - 96px) - 60px, 734px);
}

.menu-popper {
    padding-bottom: 8px;
}

.item {
    display: flex;
    flex-direction: row;
}

.menu-item {
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 10.5px 16px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
