.wrapper {
    width: var(--sliderbar-max-width);
    height: 5000px;
    padding-right: 8px;
    background-color: var(--white);
}

.inner {
    padding: 20px 0 26px 8px;
}

.footer {
    padding: 16px 0 0 8px;
    li {
        font-size: 15px;
    }

    li:last-child {
        font-size: 12px;
        color: rgba(22, 24, 35, 0.5);
    }

    li + li {
        margin-top: 15px;
    }
}
